<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}Just Eat It{{else}}Grill It{{/if}}
	</button>
	<button data-id="{{id}}" class="delBurger">Sell it</button>
</li>
